configuration {
    font: "Envy Code R 12";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     false;
}


@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 10;
	columns: 1;
}

window {
	width: 30%;
}
